.theme-dark .checkbox-1ix_J3 {
    border-color: rgba(255,255,255,.3) !important;
}

.theme-dark .checkbox-1ix_J3[style*="border-color: rgb(114, 137, 218);"] path[fill],
.theme-dark .checkbox-1ix_J3[style*="border-color: rgb(79, 84, 92);"] path[fill] {
    fill: white;
}

.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
    background-color: #f4acc5;
    border-color: #f4acc5;
}

.colorDefault-2K3EoJ .checkbox-3s5GYZ, 
.colorDefault-2K3EoJ .radioSelection-1HmrQS {
  color: rgba(0, 0, 0, .26) !important;
}