.theme-dark .searchIcon-1a1-yA {
    color: white;
}

.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    border-radius: 0;
    background-color: rgba(0, 0, 0, .24);
    color: white;
}

.theme-dark .searchBox-3Y2Vi7 {
    background-color: rgba(0, 0, 0, 0.2);
}

.theme-dark .searchResultsContainer-1ma_dc {
    background-color: black;
    box-shadow: none;
}
  
.theme-dark .searchOption-8nCYo-.selected-1r_nkg {
    background-color: rgba(255,255,255,.089);
}

.searchBar-6Kv8R2 {
    box-shadow: none;
}

.searchBar-3dMhjb {
    color: white;
    background-color: rgba(0, 0, 0, 0.30);
}

.search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root,
.theme-dark .resultsGroup-r_nuzN .header-2N-gMV, 
.theme-dark .resultsGroup-r_nuzN .plusIcon-v0BTrL, 
.theme-dark .resultsGroup-r_nuzN .searchClearHistory-2cSSMO, 
.theme-dark .resultsGroup-r_nuzN .searchLearnMore-3SQUAj a {
    color: white;
}

.theme-dark .searchOption-zQ-1l6 .answer-1n6g43,
.theme-dark .searchResultChannelCategory-1l0lSn, 
.theme-dark .searchResultChannelIcon-1DnTme {
    color: #939393;
}

.theme-dark .searchResult-9tQ1uo.expanded-w_LCGl {
    border: none;
    background-color: rgba(0, 0, 0, .3);
}

.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
    background-color: #f4acc5;
}

.theme-dark .searchHeader-2XoQg7 {
    box-shadow: none;
    color: white;
}

.theme-dark .searchResultsWrap-3-pOjs {
    background: linear-gradient(135deg, #f4acc5 0%, #000000 100%);
} 

.theme-dark .searchResult-9tQ1uo:before,
.theme-dark .searchResult-9tQ1uo:after {
    background-image: none;
}

.theme-dark .searchResult-9tQ1uo .searchResultMessage-1fxgXh.hit-1fVM9e {
    border: none;
}

.theme-dark .searchResult-9tQ1uo .hit-NLlWXA {
    background-color: rgba(0, 0, 0, 0.39);
    box-shadow: none;
    opacity: 0.7;
}

.theme-dark .searchResult-9tQ1uo.expanded-w_LCGl .searchResultMessage-1fxgXh.hit-1fVM9e {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: black;
    opacity: 1;
}

.emojiPicker-3PwZFl .header-8ilj5e .searchBar-2pWH0_ {
    background-color: transparent;
}